<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Root menu for Ecosire Setup Assistant -->
        <menuitem
            id="menu_ecosire_setup_assistant_root"
            name="Ecosire Setup Assistant"
            sequence="10"
            groups="base.group_system"/>
    </data>
</odoo>
